extends layout

block content
    table.table.table-bordered.table-striped.table-hover.mt-3
        thead
            tr
                th(scope='col') No.
                th(scope='col') Item Name
                th(scope='col') Date (MM/DD/YYYY)
                th(scope='col') Transaction Type
                th(scope='col') Quantity
                th(scope='col') Price per Item
                th(scope='col') Total
        tbody
            each item in data
                tr
                    th(scope='row')= item.id
                    td= item.item_name
                    td= new Date(item.date).toLocaleDateString()
                    td= item.transaction_type
                    td.text-right= item.quantity
                    td.text-right= item.price_per_item
                    td.text-right= item.total_price
